<div class="jumbotron center">
     <h1>Welcome to </h1>

     
    <%= image_tag 'https://s3.amazonaws.com/neulynximages/NeulynxLogo.png', width: 300, height: 270, alt: 'NeuLynx'%>

     <p>
     
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
         <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-block btn-social btn-facebook"%>
         <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), class: "btn btn-block btn-social btn-twitter"%>
         <%= link_to "Sign in with Linked", user_omniauth_authorize_path(:linkedin), class: "btn btn-block btn-social btn-linkedin"%>
          <%= link_to "Sign in with Google+", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-block btn-social btn-google_auth"%>
  </p>    
</div>